<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.dao.ClazzMapper">
    <select id="selectClazzById" parameterType="int" resultMap="clazzResultMap">
        select * from clazz where id = #{id}
    </select>

    <resultMap id="clazzResultMap" type="com.wang.domain.Clazz">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <!--一对多关联映射，使用懒加载-->
        <collection property="students" javaType="ArrayList" column="id" ofType="com.wang.domain.Student"
                    select="com.wang.dao.StudentMapper.selectStudentByClazzId" fetchType="lazy">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="age" column="age"/>
         </collection>
    </resultMap>
</mapper>