<component name="ArtifactManager">
  <artifact type="war" name="springmvc05_interceptor:war">
    <output-path>$PROJECT_DIR$/springmvc05_interceptor/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc05_interceptor</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc05_interceptor.war">
      <element id="artifact" artifact-name="springmvc05_interceptor:war exploded" />
    </root>
  </artifact>
</component>